body{
  background: linear-gradient(45deg, purple, gold);
  opacity: 0.8;
  z-index: -1;
}


button{
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}